{% extends '@base/home.html.twig' %}
{% block title %}404 Page not found{% endblock %}
    {% block body %}
        <div class="bg-light">
            <div class="container">
                <h1 class="display-4">Page not found</h1>
                <p class="lead">
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or
                </p>
                <a role="button" class="btn btn-primary btn-sm" href="{{ path('homepage') }}">return to the homepage</a>
            </div>
        </div>
    {% endblock %}
